---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Socials from "./Socials.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
	<!-- Start: Terminal -->
	<div class="mt-6 bg-black rounded-lg p-4 border border-gray-600 text-xs">
		<div class="flex items-center mb-2">
			<span class="text-primary mr-2">$</span>
			<span class="text-gray-100">npx connect</span>
		</div>

		<div class="mt-2 text-gray-400">
			{t("contact.initializing")}
			<br />
			{t("contact.ready")}
			<br />
			{t("contact.waiting")}
		</div>
	</div>
	<!-- End: Terminal -->

	<!-- Start: Social Links -->
	<Socials />
	<!-- End: Social Links -->
</div>
