---
import LanguagePicker from "./LanguagePicker.astro";
---

<div class="w-full text-center bg-black mt-6 py-2 z-999999">
	<LanguagePicker />

	Built with <a
		href="https://astro.build"
		title="Astro"
		target="_blank"
		class="text-primary hover:underline">Astro</a
	> by <a
		href="https://hoachnt.com/"
		target="_blank"
		title="hoachnt"
		class="text-primary hover:underline">hoachnt</a
	>
</div>
